header {
    height: 50px;
    background: #FF1493;
    font-style: italic;
    font-size: 30px;
    font-family: "Monospace";
    text-decoration: none;
}

.headerlinks  {
    color: teal;
    float: right;
    font-size: 15px;
    text-decoration: none;
    font-family: Verdana;
    margin-right:20px;
    text-align: right;
 display: inline;
}

.active {
   background-color: white;
}

.headerlinks a {
padding: 20px;
transition: background-color 0.5s ease;
border-radius: 20px;
margin-left: 20px;
border-style: groove;
border: 1px solid #ccc;
cursor: auto;
}

a:link{
	color: blue;
	text-decoration:none;
}

a:hover{
	color: red;
	text-decoration:none;
}

a:visited{
	color: green;
	text-decoration:none;
}

a:active{
	color: yellow;
	text-decoration:none;
}

#nav-left {
	float: left;
}

#nav-right {
	float: right;
}


.blue {
 background: #0000FF;
 height: 40px;
}

.background {
 background-image: url("scenery2.jpg");
}


.alterurl {
  margin: 10px auto;
  text-align: center;
  border: 5px pink solid;
  padding: 10px;
}

.bigmargin {
  margin: 80px auto;
  text-align: center;
  border: 10px pink solid;
  padding: 50px;
}

.biggermargin {
  margin: 150px auto;
  text-align: center;
  border: 80px pink solid;
  padding: 80px;
}

#kitty-img {
  position: relative;
}

